[submodule "CSharpEval"]
	path = CSharpEval
	url = https://github.com/UnrealMultiple/CSharpEval.git
[submodule "TNA"]
	path = TNA
	url = https://github.com/UnrealMultiple/TNA.git
	branch = v2
[submodule "TrProtocol"]
	path = TrProtocol
	url = https://github.com/UnrealMultiple/CedaryCat.TrProtocol.git
[submodule "TerraAngelSetup/DotnetPatcher"]
	path = TerraAngelSetup/DotnetPatcher
	url = https://github.com/c3omg/DotnetPatcher
